{% extends "shared/__main__.html" %}
{% load static %}
{% block head %}
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                  <img src="{% static 'dist/img/avatar.png' %}" alt="Avatar" style="width:100%">
                    <br>
                  <div class="container">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




